form {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000;
}

form div label {
    font-size: 20px;
    display: block;
    width: 100%;
}

form div input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

form div input:focus {
    border: 1px solid rgb(238, 196, 57);
}

form div input[type="button"]{
    background: blue;
    color: white;
    text-align: center;
    margin-top: 20px;
}

form div div label {
    display: block;
    margin-left: 30px;
}

form div div input[type="radio"] {
    width: 1px;
    position: absolute;
 }


form div input[type="button"]:hover {
    background: green;
}