<h2 class="text-center">Registro De Usuario</h2>
<hr/>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-outline-danger"
            routerLink="/home">
      Regresar
    </button>
  </div>
</div>

<div class="formulario">

    <form [formGroup]="formRegistro" (ngSubmit)="guardar()">

        <div class="form-group-datos">
            <label> RUT: </label>
            <input type="number"
                   class="form-control" 
                   formControlName="rut"
                   placeholder="Ingresar Numero de RUT"
                   [class.is-invalid]="rutNoValido" 
            >
            <small *ngIf="rutNoValido" class="text-danger">
                Ingrese un rut valido
            </small>
        </div>
        <div class="form-group-datos">
            <label> Nombres: </label>
            <input type="text"
                   class="form-control" 
                   formControlName="nombres"
                   placeholder="Ingresar Nombres"
                   [class.is-invalid]="nombresNoValido"
            >
            <small *ngIf="nombresNoValido" class="text-danger">
                Ingrese un nombre valido
            </small>
        </div>
        <div class="form-group-datos">
            <label> Apellidos: </label>
            <input type="text"
                   class="form-control" 
                   formControlName="apellidos"
                   placeholder="Ingresar Apellidos"
                   [class.is-invalid]="apellidosNoValido" 
            >
            <small *ngIf="apellidosNoValido" class="text-danger">
                Ingrese un apellido valido
            </small>
        </div>


        <div class="form-group-datos">
            <label> Fecha de Nacimiento: </label>
            <input type="date"
                   class="form-control"
                   formControlName="fechaNacimiento"
                   placeholder="Ingresar Fecha de Nacimiento"
                   [class.is-invalid]="fechaNacimientoNoValido"
            >
            <small *ngIf="fechaNacimientoNoValido" class="text-danger">
                Ingrese una fecha de nacimiento valido
            </small>
        </div>


        <div class="genero">
            <label> Genero: </label>

            <div >
                <input type="radio"
                       class="form-check-input m-1" 
                       formControlName="genero"
                       value="M"
                >
                <label>Masculino</label>
            </div>

            <div >
                <input type="radio"
                       class="form-check-input" 
                       formControlName="genero"
                       value="F"
                >
                <label>Femenino</label>
            </div>

        </div>

        <div >
            <input type="button" value="Guardar">
        </div>
     
    </form>
    
</div>

