<div class="row">
    <div class="col">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">RUT</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Genero</th>
                <th scope="col">Avatar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row"> {{ i + 1}} </th>
                <td> {{usuario.rut}} </td>
                <td> {{usuario.nombres}} </td>
                <td> {{usuario.apellidos}} </td>
                <td> {{usuario.fechaNacimiento}} </td>
                <td> {{usuario.genero}} </td>
                <td> <img src="{{ usuario.img}}" alt="" width="50" height="35"> </td>
              </tr>
           
            </tbody>
          </table>


    </div>
</div>

